[submodule "Micro-services/03-products-launcher"]
	path = Micro-services/03-products-launcher
	url = https://github.com/NestJs-Microservices-Practice/Products-launcher.git
[submodule "Micro-services/02-products-app/client-gateway"]
	path = Micro-services/02-products-app/client-gateway
	url = https://github.com/NestJs-Microservices-Practice/Client-Gateway.git
[submodule "Micro-services/02-products-app/orders-ms"]
	path = Micro-services/02-products-app/orders-ms
	url = https://github.com/NestJs-Microservices-Practice/Orders-Microservice.git
[submodule "Micro-services/02-products-app/products-ms"]
	path = Micro-services/02-products-app/products-ms
	url = https://github.com/NestJs-Microservices-Practice/Products-Microservice.git
[submodule "Micro-services/02-products-app/payments-ms"]
	path = Micro-services/02-products-app/payments-ms
	url = https://github.com/NestJs-Microservices-Practice/Payments-microservice.git
